@keyframes zoom-in {
   from {
      transform: scale(0.95);
      opacity: 0;
   }
   to {
      transform: scale(1);
      opacity: 1;
      
   }
}
@keyframes zoom-out {
   from {
      transform: scale(1.05);
      opacity: 0.5;
   }
   to {
      transform: scale(1);
      opacity: 1;
      
   }
}
@keyframes from-right {
   from {
      transform: translateX(10px);
      opacity: 0.5;
      border-radius: 10px;
   }
   to {
      transform: translateX(0px);
      opacity: 1;
      border-radius: 0;
   }
}
@keyframes from-bottom {
   from {
      transform: translateY(10px);
      opacity: 0.5;
      border-radius: 10px;
   }
   to {
      transform: translateY(0px);
      opacity: 1;
      border-radius: 0;
   }
}
@keyframes from-left {
   from {
      transform: translateX(-10);
      opacity: 0.5;
   }
   to {
      transform: translateX(0px);
      opacity: 1;
   }
}
@keyframes fade {
   from {
      opacity: 0.5;
   }
   to {
      opacity: 1;
   }
}