<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Group - 7" />
		<base href="../../../Ip Project Phase-3/" />
		<link rel="stylesheet" href="Resources/css/base.css" />
		<link rel="stylesheet" href="Resources/css/landing-page.css" />
		<title>AASTUGRAM</title>
	</head>
	<body>
		<section class="upper-part">
			<nav class="top-nav">
				<div class="icon-box">
					<img
						src="Resources/images/svg/app-icon.svg"
						class="app-icon"
						style="border-radius: 0"
					/>
					<span class="app-name">AASTUGRAM</span>
				</div>
				<a href="App/views/auth/sign-up.html">Sign Up</a>
				<a href="App/views/auth/Login.html">Login</a>
			</nav>
		</section>

      <section class="middle-container">
         <div class="banner">
            <p class="app-moto">
               A place where young minds meet for the better
            </p>
            <a href="App/views/auth/sign-up.html">GET STARTED</a>
         </div>

         <section class="middle-part">
            <div class="grid-item">
               <img src="Resources/images/illustrations/Artboard 8.svg" alt="" />
               <p>Enlighten yourself to new prospects</p>
            </div>
            <div class="grid-item">
               <img src="Resources/images/illustrations/Artboard 12.svg" alt="" />
               <p>Ask your mates</p>
            </div>
            <div class="grid-item">
               <img src="Resources/images/illustrations/Artboard 15.svg" alt="" />
               <p>Heighten Your Reaches</p>
            </div>
            <div class="grid-item">
               <img src="Resources/images/illustrations/Artboard 16.svg" alt="" />
               <p>Grow Your Ideas</p>
            </div>
            <div class="grid-item">
               <img src="Resources/images/illustrations/Artboard 14.svg" alt="" />
               <p>All in one access</p>
            </div>
            <div class="grid-item">
               <img src="Resources/images/illustrations/Artboard 13.svg" alt="" />
               <p>Discover ideas you never knew before</p>
            </div>
         </section>         
      </section>
      
      <section class="lower-part">
         <h1>About Us</h1>
         <p>
            This is m4n team, a young and an innovative group created by Addis
            Ababa Science and Technology University Students aiming to create a
            joint power toward problem solving and income generating by
            producing ingenious software products.</p>
            <p>This group was established
            with a mission to reach the multilateral problems of our country as
            well as our continent through collaborative effort toward one goal.
            The members of this group are well equipped with technical and
            psychological capabilities to challange any hard situation along the
            journey. We employed collaboration as the major equipment of our team to
            overcome barriers and to found our team on a sustainable foundation.</p>
            <p>We hope you
            enjoy using our products and we rely on your comments and suggestions
            to improve them continually.
         </p>
      </section>
		<footer>
			<p>©All rights reserved M4N</p>
		</footer>
	</body>
</html>
