.main-wrapper-top {
	width: 100%;
	max-width: 935px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	padding: 20px 10px;
}
.group-category-box {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 0;
	background: white;
	height: 60px;
}

.category-info {
	max-width: calc(100% - 60px);
	flex-basis: 30px;
	flex-grow: 1;
	text-align: left;
	line-height: 1;
}

.group-category-box>img {
	height: 100%;
	width: auto;
}

@media (min-width: 420px) {
	.main-wrapper-top {
		max-width: 934px;
		grid-template-columns: repeat(2, 1fr);
	}

	.category-info {
		max-width: auto;
		flex-basis: 10px;
		flex-shrink: 0;
	}
}

@media (min-width: 565px) {
	.main-wrapper , .main-wrapper-top {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 750px) {
	.main-wrapper-top, .main-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 935px) {
	.main-wrapper {
		grid-template-columns: repeat(5, 1fr);
	}

}

.action-button {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 10px #333;
	text-align: center;
	display: none;
	align-items: center;
	justify-content: center;
}

.main-wrapper:hover~.action-button {
	display: flex;
}