body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   background-image: radial-gradient(#e6c772, #e88329);
   background-size: 100px 100px;
   background-repeat: repeat;
   background-attachment: fixed;
   max-height: 100%;
   overflow-y: auto;
}
header {
   width: 100%;
   max-height: 40px;
   flex-basis: 40px;
   flex-shrink: 0;
   flex-grow: 0;
   display: flex;
   align-items: center;
   background-color: #89428E;
   color: white;
}
.app-icon-container {
   flex-basis: content;
   flex-grow: 1;
   width: auto;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 0 5px;
   gap: 5px;
}
.app-icon, .profile-icon {
   height: 25px;
}
.app-icon-label {
   font-family: 'Trebuchet MS';
   text-transform: uppercase;
   font-weight: bold;
   font-size: 16px;
}
.profile-box {
   flex-basis: content;
   flex-shrink: 0;
   width: auto;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding:0 5px;
   gap: 10px;
   color: #52b;
}
.profile-label {
   display: none;
   text-transform: capitalize;
}
.message-wrapper {
   width: calc(100%);
   flex-basis: 50%;
   flex-grow: 1;
   max-width: 500px;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   padding: 10px;
   margin-bottom: 40px;
}
.message-box {
   width: auto;
   min-width: 200px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   padding: 10px;
   background-color: white;
   gap: 10px;
   border-radius: 10px;
}
.message-header {
   display: flex;
   align-items: center;   
   gap:10px;
   color: #777;
}
.message-header img {
   height: 40px;
}
.sender-info{
   align-self: stretch;
   text-align: right;
   justify-content: center;
}
.message-body {
   position: relative;
   display: block;
}
p, .message-body img,
.message-body video {
   display: block;
   width: 100%;
}

.message-footer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 10px;
}
.reaction {
   display: flex;
   align-items: center;
   width: fit-content;
   padding: 3px 6px;
   gap: 5px;
   border-radius: 5px;
   background-color: #89428E22;
}
.reaction img {
   height: 25px;
}
.reaction span {
   color: #89428E;
   font-family: Arial, Helvetica, sans-serif;
}
.reaction > * {
   cursor: pointer;
}
.edit-message-box {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 40px;
   flex-basis: 40px;
   flex-grow: 0;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   padding:10px 20px;
   gap: 10px;
   background-color: rgb(255, 255, 255);
}
.nav-icon {
   height: 15px;
}
#editMessage {
   margin: 0;
   outline: 0;
   border: none;
   height: 90%;
   flex-basis: 50%;
   flex-grow: 1;
   resize: none;
   font-size: 16px;
   background-color: transparent;
}
.send {
   width: 25px;
}
.profile-holder {
   width: 100%;
   height: 100%;
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #2228;
   display: none;
}
iframe {
   width: 100%;
   max-width: 340px;
   height: calc(100% - 50px);
}
@media screen and (min-width: 420px) {
   .send {
      width: 30px;
   }
   .edit-message-box {
      background-color: aliceblue;
   }
}