<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Group - 7">
	<!-- <base href="../../../../aastugram/"> -->
	<link rel="shortcut icon" href="/images/svg/app-icon.svg" type="image/x-icon">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/news-feed.css">
	<link rel="stylesheet" href="/stylesheets/create-group.css">
    <!-- <link rel="stylesheet" href="/stylesheets/auth.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/explore.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/frame.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/groups.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/landing-page.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/mame-tech.css"> -->
    <!-- <link rel="stylesheet" href="/stylesheets/my-group.css"> -->
    <link rel="stylesheet" href="/stylesheets/news-feed.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/profile.css">
	<link rel="stylesheet" href="/stylesheets/settings.css">
	<link rel="stylesheet" href="/stylesheets/animations.css">

	<script src="/js/base.js"></script>
	<script src="/js/functions.js"></script>
	<script src="/js/classes.js"></script>
    <script src="/js/dataSet.js"></script>
	<title id="pageTitle">AASTUGRAM</title>
</head>