body {
	display: flex;
   align-items: flex-start;
   justify-content: center;
	background-color: white;
}
.main-card {
   width: 100%;
   height: 100%;
   max-height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 10px;
   background-color: white;
}
@media screen and (min-width: 450px) {
   .main-card {
      width: 400px;
      border: solid 3px hsl(238, 72%, 95%);
      border-radius: 20px;
      max-height: calc(100% - 30px);
      height: fit-content;
   }
   .main-card > form {
      width: 300px;
   }
   body {
      align-items: center;
   }
}
.set-profile-pic {
   align-self: center;
}
.nav-bar {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding:10px;
   border-bottom: solid 1px var(--col-light);
}
.nav-icon {
   height: 40px;
   padding: 5px;
   border-radius: 50%;
   transition: 0.3s;
}
.nav-icon:hover {
	background-color: hsl(238, 72%, 95%);
}
.nav-bar span {
   font-weight: bold;
   margin: 0 10px;
   padding: 5px;
   flex-grow: 1;
}
.button-box {
   width: 100%;
   display: flex;
   flex-grow: 0;
   flex-basis: content;
   align-items: center;
   justify-content: space-around;
}
.switch {
   padding: 8px 16px;
   margin: 10px 0;
   border-radius: 5px;
   color: blueviolet;
   background-color: rgb(233, 214, 252);
   font-size: 18px;
   font-weight: bolder;
}
.on {
   background-color: transparent;
   color:rgb(208, 166, 247);
}
.main-card > form {
   width: 100%;
   flex-shrink: 1;
   flex-basis: content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   padding: 10px 40px;
   overflow-y: auto;
   overflow-x: hidden;
   font-size: 14px;

}
.profile-photo-container {
	width: 100px;
	height: fit-content;
	align-self: center;
	margin: 10px 0;
}
.profile-picture {
    width: 100%;
	 border-radius: 50%;
}
.profile-photo-container > label{
	position : absolute;
	top:65px;left: 65px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: white;
	background-image: url(../images/svg/camera.svg);
	background-size: 85%;
	background-position: center;
	box-shadow: 0 0 3px #3338;
}
.main-card label {
   margin-bottom: 3px;
   text-transform: uppercase;
}
.text-input {
   width: 100%;
   padding: 8px;
   margin-bottom: 10px;
   border: none;
   background-color: white;
   border: solid 1px rgb(201, 199, 199);
   border-radius: 5px;
   font-size: 14px;
   transition: 0.3s;
   box-sizing: border-box;
}
.text-input:hover, 
.text-input:focus{
   border-color: #52b;
   box-shadow: 0 0 3px rgba(51, 51, 51, 0.356);
}
button.login {
   padding: 10px 20px;
   margin: 20px 0;
   border-radius: 50px;
   background-color: #52b;
   color: white;
   font-size: 20px;
   font-weight: bolder;
}
.main-card>option {
   padding: 15px;
   background-color: #444;
}