.off {
    visibility: hidden;
}

.field-input-container {
    flex-basis: content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 3px;
	}

.field-input-container>span {
    font-size: 14px;
}
.field-input {
    width: 100%;
	 max-width: 200px;
    padding: 2px 0;
	 border-bottom: solid 2px white;
    background-color: transparent;
    font-size: 14px;
    color: #606060;
    transition: 0.2s;
}
.field-input:focus {
    border-bottom-color:#52b;
    color: #222;
}

.section .save-changes {
    padding: 5px 10px;
    margin-block-end: 10px;
    border-radius: 5px;
    background-color: var(--col-primary);
    color: white;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
}